<% include partials/header %>
<a href="/edit">Edit Profile</a>
<div class = container >
<h1><%= donor.name %></h1>
<% if(donor.activeStatus == true) { %>
    <h4> Active </h4>
<% } else { %>
    <h4> Not Active</h4>
    <% } %>
<ul>
    <li>Username      : <%= donor.local.username %></li>
    <li>Email         : <%= donor.email %></li>
    <li>Contact       : <%= donor.contactNumber%></li>
    <li>Address       : <%= donor.address %></li>
    <li>Blood Group   : <%= donor.bloodGroup %></li>
    <li>Gender        : <%= donor.gender%></li>
    <li>D.O.B.        : <%= donor.dob %></li>
    <li>City          : <%= donor.city%></li>
    <li>Last donation : <%= donor.dateOfLastDonation %></li>

</ul>
</div>

<% include partials/footer %>